<h2 mat-dialog-title style="text-align: center;">Details of ToDo</h2>

<!--updated to work with new model, still need to add completed field-->
<mat-dialog-content>
    <div class="row">
        <label class="md-col-5">Title of ToDo</label>
        <textarea value="{{todo.title}}" matInput cols="50" rows="1" 
            style="margin-left: 10px;" readonly ></textarea>
    </div>
    <div class="row">
        <label class="md-col-5" >Created Date</label>
        <textarea value="{{todo.createdDate}}"
            matInput cols="45" rows="1" style="margin-left: 8px;" readonly ></textarea>
    </div>
    <div class="row">
        <label class="md-col-5" >Start Date & Time</label>
        <textarea value="{{todo.startDateTime}}"
            matInput cols="45" rows="1" style="margin-left: 30px;" readonly ></textarea>
    </div>
    <div class="row">
        <label class="md-col-5" >End Date & Time</label>
        <textarea value="{{todo.endDateTime}}"
            matInput cols="45" rows="1" style="margin-left: 30px;" readonly ></textarea>
    </div>
    <div class="row">
        <label class="md-col-5" >Description: </label>
        <textarea value="{{todo.description}}"
            matInput cols="45" rows="3" style="margin-left: 30px;" readonly ></textarea>
    </div>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()" style="margin-right: 30px;">Close</button>
    <button class="mat-raised-button mat-primary" (click)="edit()">Edit</button>
</mat-dialog-actions>
