<h2 mat-dialog-title>Details of ToDo</h2>

<!--updated to work with new model, still need to add completed field-->
<mat-dialog-content>
    <div class="row">
        <label class="md-col-5">Title of ToDo</label>
        <textarea value="{{todo.title}}" cols="45" rows="1" 
            style="margin-left: 12px;" readonly ></textarea>
    </div>
    <div class="row">
        <label class="md-col-5" >Created Date</label>
        <textarea value="{{todo.createdDate}}"
            cols="45" rows="1" style="margin-left: 9px;" readonly ></textarea>
    </div>
    <div class="row">
        <label class="md-col-5" >Start Date </label>
        <textarea value="{{todo.startDateTime}}"
            cols="45" rows="1" style="margin-left: 25px;" readonly ></textarea>
    </div>
    <div class="row">
        <label class="md-col-5" >End Date </label>
        <textarea value="{{todo.endDateTime}}"
            cols="45" rows="1" style="margin-left: 30px;" readonly ></textarea>
    </div>
    <div class="row">
        <label class="md-col-5">Completed  </label>
        <button *ngIf="todo.completed" style="background-color: green; margin-left: 15px;">
            <mat-icon *ngIf="todo.completed">check</mat-icon>
        </button>
        
        <button *ngIf="!todo.completed" style="background-color: brown; margin-left: 15px;">
            <mat-icon>event_busy</mat-icon>
        </button>
    </div>
    <div class="row">
        <label class="md-col-5" >Description: </label>
        <textarea value="{{todo.description}}"
            cols="45" rows="3" style="margin-left: 12px;" readonly ></textarea>
    </div>

</mat-dialog-content>

<mat-dialog-actions>
    <a mat-button color="primary" (click)="edit()" >
        <mat-icon>edit</mat-icon> Edit</a>
    <button
          type="button" mat-button
          color="accent" (click)="close()"> 
          <mat-icon>close</mat-icon> Close
    </button>
</mat-dialog-actions>
