
<h2 mat-dialog-title >Details of Note</h2>

<mat-dialog-content>

    <div class="row">
        <label class="md-col-5">Title of Note</label>
        <textarea value="{{note.title}}" cols="45" rows="1" 
            style="margin-left: 15px;" readonly ></textarea>
    </div>
    <div class="row">
        <label class="md-col-5" >Description</label>
        <textarea placeholder="Desctiprion" value="{{note.description}}"
             cols="45" rows="4" style="margin-left: 20px;" readonly ></textarea>
    </div>
    <div class="row">
        <label class="md-col-5" >Created Date</label>
        <textarea value="{{note.createdDate}}"
            cols="45" rows="1" style="margin-left: 8px;" readonly ></textarea>
    </div>
    <div class="row">
        <label class="md-col-5" >Start Date</label>
        <textarea value="{{note.startDate}}"
            cols="45" rows="1" style="margin-left: 26px;" readonly ></textarea>
    </div>
    <div class="row">
        <label class="md-col-5" >End Date</label>
        <textarea value="{{note.endDate}}"
            cols="45" rows="1" style="margin-left: 32px;" readonly ></textarea>
    </div>

</mat-dialog-content>

<div mat-dialog-actions>
    <a mat-button color="primary" (click)="edit()" >
        <mat-icon>edit</mat-icon> Edit</a>
    <button
          type="button" mat-button
          color="accent" (click)="close()"> 
          <mat-icon>close</mat-icon> Close
    </button>
</div>

