<p>{{ toDo?.title }}</p>
<mat-card>
    <form [formGroup]="form" (submit)="updateToDo()" >
        <div>
            <mat-form-field>
                <input matInput type="text" formControlName="title" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput type="text" formControlName="description" />
            </mat-form-field>
        </div>
        <div>
            <mat-checkbox formControlName="completed">Completed?</mat-checkbox>
        </div>
        <div>
            <mat-form-field>
              <mat-date-range-input [rangePicker]="pickerA" >
                <input
                  matStartDate
                  placeholder="Start date"
                  formControlName="startDateTime"
                />
                <input
                  matEndDate
                  placeholder="End date"
                  formControlName="endDateTime"
                />
              </mat-date-range-input>
              <mat-datepicker-toggle
                matSuffix
                [for]="pickerA"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #pickerA></mat-date-range-picker>
            </mat-form-field>
          </div>

          <button mat-raised-button color="primary" type="submit">Save</button>
    </form>
</mat-card>