<mat-card class="card">
    <div id="toDoItem">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title> {{ toDo?.title }}</mat-panel-title>
                </mat-expansion-panel-header>
                <p>{{ toDo?.description }}</p>
                <p>{{ toDo?.startDate | date }}</p>
                <p>{{ toDo?.endDate | date }}</p>
                <mat-action-row>
                    <a mat-button color="primary" [routerLink]="['../edit', toDo!.id]"
                        >EDIT</a
                    >
                    <button
                        type="button"
                        mat-button
                        color="warn"
                        (click)="deleteToDo(toDo!.id)"
                    >
                        DELETE
                    </button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</mat-card>