<div class="cal-page">

    <div class='cal-app-main'>
        <full-calendar *ngIf='calendarVisible'
            [options]='calendarOptions' >
        </full-calendar>
    </div>

    <div class='cal-page-sidebar'>
        <div class='cal-page-sidebar-section'>
            <h2>Instructions</h2>
            <ul>
              <li></li>
            </ul>
        </div>

        <div class='cal-page-sidebar-section'>
            <button  mat-flat-button
              title="Create new Note" color="accent"
              routerLink="../create">
              <mat-icon>note_add</mat-icon> Note
            </button>

            <button  mat-flat-button [ngStyle]="{ 'margin-left': '20px' }"
                title="Create new ToDo" color="accent"
                routerLink="../to-dos">
                <mat-icon>add_task</mat-icon> ToDo
            </button>
        </div>

        <div class='cal-page-sidebar-section'>
          <label>Note Priority :</label>
            <div>
              <button class="color-button" [ngStyle]="{'background-color': this.preference.lowPriorityNoteColor}"> </button>
              <label class="color-label">Low</label>
              <button class="color-button" [ngStyle]="{'background-color': this.preference.mediumPriorityNoteColor }"> </button>
              <label class="color-label">Medium</label>
              <button class="color-button" [ngStyle]="{'background-color': this.preference.highPriorityNoteColor }"> </button>
              <label>High</label>
            </div>

            <label>ToDo :</label>
            <div>
              <button class="color-button" [ngStyle]="{'background-color': this.preference.todoCompletedColor }"> </button>
              <label class="color-label">Complete </label>
              <button class="color-button" [ngStyle]="{'background-color': this.preference.todoNotCompletedColor }"> </button>
              <label class="color-label">Not Complete </label>
            </div>
        </div>

        <div class='cal-page-sidebar-section'>
            <label>
              <mat-checkbox [checked]="showWeekends"
                (change)='handleWeekendsToggle()'
                color='primary' >
              </mat-checkbox>
              Show Weekends
            </label>
        </div>

        <div class='cal-page-sidebar-section'>
            <h2>All Events of Today ({{selectedDayEvents.length}})</h2>
            <ul>
              <li *ngFor='let event of selectedDayEvents'>
                <b>{{event.start | date}}</b>
                <i style="margin-left: 5px;">{{event.title}}</i>
              </li>
            </ul>
        </div>

    </div>

</div>
