<mat-tab-group>
  <mat-tab label="View my Notes">
    <app-note-item
      *ngFor="let noteEl of notes; let i = index"
      [note]="noteEl"
      [index]="i"
    ></app-note-item>
    
  </mat-tab>
  <mat-tab label="Create a New Note">
    <h2>Create Note</h2>
    <form [formGroup]="createNoteForm" (submit)="submitNewNote()">
      <div>
        <div>
          <mat-form-field>
            <input
              matInput
              placeholder="Enter Note Title"
              formControlName="title"
            />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-date-range-input [rangePicker]="pickerA">
              <input
                matStartDate
                placeholder="Start date"
                formControlName="startDate"
              />
              <input
                matEndDate
                placeholder="End date"
                formControlName="endDate"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerA"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #pickerA></mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <mat-form-field>
          <textarea
            matInput
            cols="200"
            rows="10"
            formControlName="description"
            placeholder="Enter Note Content"
          ></textarea>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit">Create</button>
    </form>
  </mat-tab>

  <mat-tab label="Search my Notes">
    <div>
      <form [formGroup]="form" (submit)="onSaveDate()">
        <h2>Search my Notes</h2>
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="note"
            placeholder="Enter Note"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date" />
            <input matEndDate placeholder="End date" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </form>
    </div>
  </mat-tab>
</mat-tab-group>

<!-- <mat-card>
  <form [formGroup]="form" (submit)="onSaveDate()">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="note"
        placeholder="Enter Note"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" />
        <input matEndDate placeholder="End date" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </form>
</mat-card> -->

<!-- <mat-form-field>
  <mat-label>Choose a date</mat-label>
  <input
    matInput
    [matDatepicker]="picker"
    formControlName="dob"
    (dateChange)="date($event)"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->
