<mat-card>
  <h2>{{ this.mode === "create" ? "Create Note" : "Edit Note" }}</h2>
  <form [formGroup]="form" (submit)="saveNote()">
    <div>
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="title"
          [placeholder]="mode === 'create' ? 'Enter Note Title' : ''"
          placeholder="Enter Note Title"
        />

        <mat-error [ngSwitch]="form.get('title')?.invalid">Please enter a valid note title</mat-error
        >
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-date-range-input [rangePicker]="pickerA">
          <input
            matStartDate
            placeholder="Start date"
            formControlName="startDateA"
          />
          <input matEndDate placeholder="End date" formControlName="endDateA" />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerA"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #pickerA></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <textarea
          matInput
          type="text"
          formControlName="description"
          [placeholder]="mode === 'create' ? 'Enter Note Description' : ''"
          placeholder="Enter Note Description"
        ></textarea>
      </mat-form-field>
    </div>

    <div *ngIf="mode==='edit'">
      <mat-form-field>
        <input
        placeholder="Created Date, not editable"
        matInput
        readonly
        formControlName="createdDate"
        />
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
</mat-card>
