<mat-card class="card">
    <mat-card-title>ToDos</mat-card-title>
    <mat-form-field>
        <input matInput [matDatepicker]="todoDatePicker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="todoDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #todoDatePicker></mat-datepicker>
    </mat-form-field>
</mat-card>
<mat-card class="card">
    <app-todo-item
      *ngFor="let toDoEl of toDos; let i = index"
      [toDo]="toDoEl"
      [index]="i"
    ></app-todo-item>
</mat-card>