<mat-tab-group (selectedTabChange)="changeTabs($event)">
    <mat-tab label="View my ToDos">
        <mat-card class="card">
            <mat-card-title>Search ToDos</mat-card-title>
            <p>by start date:</p>
            <!--implement search by date here-->
            <div>
                <form [formGroup]="searchForm">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" formControlName="searchDate" placeholder="Enter date" 
                        (dateChange)="onSearchDate($event)"/>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </form>
            </div>
        </mat-card>
        <mat-card class="card">
            <app-todo-item
                *ngFor="let toDoEl of sortToDo(); let i = index"
                [toDo]="toDoEl"
                [index]="i"
            ></app-todo-item>
        </mat-card>
    </mat-tab>
    <mat-tab label="Create a New ToDo">
        <mat-card class="card">
            <h2>New ToDo</h2>
            <form [formGroup]="createToDoForm" (submit)="submitNewToDo()">
                <div>
                    <div>
                        <mat-form-field>
                            <input
                                matInput
                                placeholder="Name"
                                formControlName="title"
                            />
                        </mat-form-field>
                    </div>
                    <span class="help-block"*ngIf="!createToDoForm.get('title')!.valid && createToDoForm.get('title')!.touched">
                        Please Enter a Valid Name For Your ToDo
                      </span>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-date-range-input [rangePicker]="pickerA" >
                            <input  formControlName="startDateTime" matStartDate placeholder="Start date" >
                            <input formControlName="endDateTime" matEndDate placeholder="End date" >
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="pickerA"></mat-datepicker-toggle>
                            <mat-date-range-picker #pickerA></mat-date-range-picker>
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <mat-checkbox formControlName="completed">ToDo Completed?</mat-checkbox>
                </div>
                <p></p>
                <div class="row">
                    <mat-form-field>
                        <textarea
                            matInput
                            cols="200"
                            rows="10"
                            formControlName="description"
                            placeholder="Enter details about your ToDo..."
                        ></textarea>
                    </mat-form-field>
                </div>
                <button [disabled]="!createToDoForm.get('title')!.valid" mat-raised-button color="primary" type="submit">Create</button>
            </form>
        </mat-card>
    </mat-tab>
</mat-tab-group>