<mat-card>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> {{ note?.title }}</mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{ note?.description }}</p>
      <p>{{ note?.startDate | date }}</p>
      <p>{{ note?.endDate | date }}</p>
      <mat-action-row>
        <a mat-button color="primary" [routerLink]="['../editNote', note!.id]"
          >EDIT</a
        >
        <button
          type="button"
          mat-button
          color="warn"
          (click)="deleteNote(note!.id)"
        >
          DELETE
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
