<mat-toolbar color="primary" class="header">
  <!-- <span class="spacer"></span> -->
  <ul *ngIf="this.authService.isAutheticated">
    <li> <img class = "logo" src="./assets/logo.png"></li>
    <li>
      <a mat-button routerLink="/home" routerLinkActive="mat-accent">Home</a>
    </li>
    <li>
      <a mat-button routerLink="/to-dos" routerLinkActive="mat-accent">ToDos</a>
    </li>
    <li>
      <a mat-button routerLink="/notes" routerLinkActive="mat-accent">Notes</a>
    </li>
    <li>
      <span>{{ this.currentUser?.name }}</span>
    </li>
    <li>
      <img src="{{ this.currentUser?.imageUrl }}" width="20px" height="20px" />
    </li>
    <li>
      <a mat-button (click)="logoutClicked()"> Logout</a>
    </li>
  </ul>
  <ul *ngIf="!this.authService.isAutheticated">
    <li> <img class = "logo" src="./assets/logo.png"></li>
    <li><label> Mimic </label></li>
    
  </ul>
</mat-toolbar>
